
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="<%= seoDescription %>">

    <title><%= siteTitle %></title>

    <!-- Bootstrap core CSS -->
    <link href="//getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="//getbootstrap.com/examples/blog/blog.css" rel="stylesheet">
    
  </head>
  <body>
    <%- partial("_partials/header") %>
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>
      <div class="row">
        <div class="col-sm-8 blog-main">
        <!-- BLOG POST-->
        <%if (current.path[0] === "posts") { %>
            <%- partial("_partials/post-wrapper", yield) %>
            
        <!-- HOME -->
        <% } else { %>
            <%- yield %>
        <% } %>
        </div><!-- /.blog-main -->
        <%- partial("_partials/sidebar") %>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <%- partial("_partials/footer") %>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//getbootstrap.com/dist/js/bootstrap.min.js"></script>

  </body>
</html>
